@media screen and (max-width: 40em) {

html,
body
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Lato', sans-serif;
  overflow: scroll;
}


article {
  justify-content: center;
  display: flex;
  flex-direction: column;

}

button {
  outline: none;
  border: none;

}

div {
  /* background-color: purple;
  flex-direction: row;
  display: flex;
  width: 50px;
  margin-top: 30px; */
}

header {
  background-color: #10EFA1;
  height: 15vh;
  width: 100%;
  /* flex-direction: column; */
  display: flex;
}

nav {
  display: flex;
  /* align-self: baseline; */
  height: 15vh;
  width: 100%;
}

p {
  display: flex;
  flex-direction: column;
  margin: 3px;
}

section {
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.streamer-name {
  font-size: 16px;
  padding-left: 10px;
  padding-top: 10px;

}

.date-achieved {
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
  margin-top: 0px;
}

.most-played-game,
.sub {
  font-size: 12px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.sub-count {
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 20px;
  margin-top: 0px;
  color: #EF105E;

}

.game-name {
  padding-left: 10px;
  font-size: 16px;
  margin-top: 0px;
}




.all-time,
.position {
  flex-direction: column;
  margin-bottom: 0px;
  margin-right: 15px;
  margin-top: 20px;
  align-self: flex-end;
  color: white;
}

/* .visit-page {
  margin-bottom: 0px;
  margin-right: 10px;
  margin-top: 50px;
  margin-left: 10px;
  display: flex;
  align-self: flex-end;


} */


.position {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.background {
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: white;
}


.card {
  display: flex;
  width: 250px;
  align-self: center;
  margin: 15px;
  background-color: #F2F2F3;
  color: whiite;

}

.card-header {
  align-self: flex-start;
  height: 100px;
  width: 250px;
  background-color: #FC0359;
  border-color: red;
  display: flex;
  flex-direction: column;
}

.card-url {
  align-self: center;
  background-color: white;
  width: 200px;
  height: 50px;
  color: black;
  font-size: 12px;
  justify-content: flex-start;

}

.nav-right {
  background-color: green;
  height: 10vh;
  width: 150px;
  display: flex;
  flex-direction: row-reverse;
  background-color: inherit;
}

.nav-text {
  color: white;
  margin: 0px;
  width: 50px;
  /* flex-direction: row; */
  font-size: 12px;
  margin: 5px;
  background-color: inherit;
}

.streamers {
  font-size: 22px;
  padding-top: 20px;
}


.user-menu {
  color: white;
  margin: 0px;
  width: 150px;
  /* flex-direction: row; */
  font-size: 12px;
  margin: 5px;
  background-color: inherit;

}

.url {
  padding-left: 3px;
  padding-top: 3px;
}

.ninja {
  background-image: url('./assets/header_ninja.png');
}

.ludwig {
  background-image: url('./assets/header_ludwig.png');
}

.ranboolive {
  background-image: url('./assets/header_ranboolive.png')
}

.shroud {
  background-image: url('./assets/header_shroud.png');
}

.summit {
  background-image: url('./assets/header_summit.png');
}





}
