@media screen and (max-width: 40em) {

html,
body
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Lato', sans-serif;
  overflow: scroll;
}


article {
  justify-content: center;
  display: flex;
  flex-direction: column;

}

button {
  outline: none;
  border: none;

}

header {
  background-color: blue;
  height: 15vh;
  width: 100%;
  /* flex-direction: column; */
  display: flex;
}

nav {
  display: flex;
  /* align-self: baseline; */
  height: 15vh;
  width: 100%;
}

p {
  display: flex;
}

section {
  justify-content: center;
  display: flex;

}

.background {
  height: 100%;
  width: 100%;
  flex-direction: column;
}


.card {
  display: flex;
  height: 250px;
  width: 200px;
  align-self: center;
  margin: 25px;
  background-color: yellow;

}

.card-header {
  align-self: flex-start;
  height: 80px;
  width: 200px;
  background-color: red;
  border-color: red;
}

.card-url {
  align-self: center;
  background-color: black;
  width: 160px;
  height: 40px;

}

.nav-right {
  background-color: green;
  height: 10vh;
  width: 150px;
  display: flex;
  flex-direction: row-reverse;
  background-color: inherit;
}

.nav-text {
  color: white;
  margin: 0px;
  width: 50px;
  /* flex-direction: row; */
  font-size: 12px;
  margin: 5px;
  background-color: inherit;
}

.streamers {
  font-size: 22px;
}


.user-menu {
  color: white;
  margin: 0px;
  width: 150px;
  /* flex-direction: row; */
  font-size: 12px;
  margin: 5px;
  background-color: inherit;

}




}
