/*

html,
body
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Lato', sans-serif;
  overflow: scroll;
}


article {
  justify-content: center;
  display: flex;
  flex-direction: column;
  outline: none;
  border: none;

}

button {
  outline: none;
  border: none;

}


header {
  background-color: #10EFA1;
  height: 15vh;
  width: 1030px;
  display: flex;
  outline: none;
  border: none;
  align-self: center;
  align-items: center;
  margin-right: 10px;
}

nav {
  display: flex;
  height: 15vh;
  width: 100%;
}

p {
  display: flex;
  flex-direction: column;
  margin: 3px;
}

section {
  justify-content: center;
  display: flex;
  flex-direction: column;
  outline: none;
  border: none;

}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;

 }

.div3 {
   grid-area: 1 / 3 / 2 / 4;
s
  }

.div4 {
   grid-area: 1 / 4 / 2 / 5;

 }
.div5 { grid-area: 2 / 1 / 3 / 2; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 2 / 3 / 3 / 4; }
.div8 { grid-area: 2 / 4 / 3 / 5; }
.div9 { grid-area: 3 / 1 / 4 / 2; }
.div10 { grid-area: 3 / 2 / 4 / 3; }
.div11 { grid-area: 3 / 3 / 4 / 4; }
.div12 { grid-area: 3 / 4 / 4 / 5; }

.streamer-name {
  font-size: 16px;
  padding-left: 10px;
  padding-top: 10px;

}

.date-achieved {
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
  margin-top: 0px;
}

.most-played-game,
.sub {
  font-size: 12px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.sub-count {
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 20px;
  margin-top: 0px;
  color: #EF105E;

}

.game-name {
  padding-left: 10px;
  font-size: 16px;
  margin-top: 0px;
}




.all-time,
.position {
  flex-direction: column;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-top: 20px;
  align-self: flex-end;
  color: white;
}



.position {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.background {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  background-color: white;
  color: grey;
}


.card {
  display: flex;
  width: 250px;
  align-self: center;
  margin-top: 10px;
  background-color: #F2F2F3;
  color: grey;
  filter: drop-shadow(1px 1px 1px gray);

}

.card-header {
  align-self: flex-start;
  height: 100px;
  width: 250px;
  background-color: #FC0359;
  border-color: red;
  display: flex;
  flex-direction: column;
}

.card-url {
  align-self: center;
  background-color: white;
  width: 200px;
  height: 50px;
  color: grey;
  font-size: 12px;
  justify-content: flex-start;

}

.nav-right {
  background-color: green;
  height: 10vh;
  width: 150px;
  display: flex;
  flex-direction: row-reverse;
  background-color: inherit;
}

.nav-text {
  color: white;
  margin: 0px;
  width: 50px;
  font-size: 12px;
  margin: 5px;
  background-color: inherit;
}

.streamers {
  font-size: 36px;
  padding-top: 20px;
  margin-left: 180px;
  color: gray;
  flex-direction: column;
}


.user-menu {
  color: white;
  margin: 0px;
  width: 200px;
  flex-direction: column;
  font-size: 12px;
  margin: 5px;
  background-color: inherit;
  flex-wrap: wrap;

}

.url {
  padding-left: 3px;
  padding-top: 3px;
}

.ninja {
  background-image: url('./assets/header_ninja.png');
}

.ludwig {
  background-image: url('./assets/header_ludwig.png');
}

.ranboolive {
  background-image: url('./assets/header_ranboolive.png')
}

.shroud {
  background-image: url('./assets/header_shroud.png');
}

.summit {
  background-image: url('./assets/header_summit.png');
}

.xqc {
  background-image: url('./assets/header_xqc.png');
}

.trymacs {
  background-image: url('./assets/header_trymacs.png');
}

.nickmercs {
  background-image: url('./assets/header_nicmercs.png');
}

.tfue {
  background-image: url('./assets/header_tfue.png');
  outline: none;
  border: none;
}

.hasanabi {
  background-image: url('./assets/header_hasanabi.png');
  outline: none;
  border: none;
}

 */














@media screen and (max-width: 1040px) {

html,
body
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Lato', sans-serif;
  overflow: scroll;
}


article {
  justify-content: center;
  display: flex;
  flex-direction: column;
  outline: none;
  border: none;

}

button {
  outline: none;
  border: none;

}

div {

}

header {
  background-color: #10EFA1;
  height: 15vh;
  width: 100%;
  display: flex;
  outline: none;
  border: none;
}

nav {
  display: flex;
  height: 15vh;
  width: 100%;

}

p {
  display: flex;
  flex-direction: column;
  margin: 3px;
}

section {
  justify-content: center;
  display: flex;
  flex-direction: column;
  outline: none;
  border: none;

}

.streamer-name {
  font-size: 16px;
  padding-left: 10px;
  padding-top: 10px;

}

.date-achieved {
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
  margin-top: 0px;
}

.most-played-game,
.sub {
  font-size: 12px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.sub-count {
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 20px;
  margin-top: 0px;
  color: #EF105E;

}

.game-name {
  padding-left: 10px;
  font-size: 16px;
  margin-top: 0px;
}




.all-time,
.position {
  flex-direction: column;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-top: 20px;
  align-self: flex-end;
  color: white;
}



.position {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.background {
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: white;
  color: grey;
  align-items: center;
}


.card {
  display: flex;
  width: 250px;
  align-self: center;
  margin-top: 10px;
  background-color: #F2F2F3;
  color: grey;
  filter: drop-shadow(1px 1px 1px gray);

}

.card-header {
  align-self: flex-start;
  height: 100px;
  width: 250px;
  background-color: #FC0359;
  border-color: red;
  display: flex;
  flex-direction: column;
}

.card-url {
  align-self: center;
  background-color: white;
  width: 200px;
  height: 50px;
  color: grey;
  font-size: 12px;
  justify-content: flex-start;

}

.nav-right {
  background-color: green;
  height: 10vh;
  width: 150px;
  display: flex;
  flex-direction: row-reverse;
  background-color: inherit;
}

.nav-text {
  color: white;
  margin: 0px;
  width: 50px;
  font-size: 12px;
  margin: 5px;
  background-color: inherit;
}

.streamers {
  font-size: 22px;
  padding-top: 20px;
  color: gray;
}


.user-menu {
  color: white;
  margin: 0px;
  width: 200px;
  flex-direction: column;
  font-size: 12px;
  margin: 5px;
  background-color: inherit;
  flex-wrap: wrap;

}

.url {
  padding-left: 3px;
  padding-top: 3px;
}

.ninja {
  background-image: url('./assets/header_ninja.png');
}

.ludwig {
  background-image: url('./assets/header_ludwig.png');
}

.ranboolive {
  background-image: url('./assets/header_ranboolive.png')
}

.shroud {
  background-image: url('./assets/header_shroud.png');
}

.summit {
  background-image: url('./assets/header_summit.png');
}

.xqc {
  background-image: url('./assets/header_xqc.png');
}

.trymacs {
  background-image: url('./assets/header_trymacs.png');
}

.nickmercs {
  background-image: url('./assets/header_nicmercs.png');
}

.tfue {
  background-image: url('./assets/header_tfue.png');
  outline: none;
  border: none;
}

.hasanabi {
  background-image: url('./assets/header_hasanabi.png');
  outline: none;
  border: none;
}





}
